.nft-title {
  background: #21383d;
  border-radius: 2.4px;
  height: auto;
  padding: 12px;
  font-size: 18px;
  letter-spacing: 0;
  border-left: 4px solid #eb4dff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .id {
    font-size: 12px;
    font-weight: 300;
    color: #7D9FB1;

    .number {
      color: var(--pink);
    }
  }

}

.nft-information-container {
  margin: 50px 0;

  .image-container {
    display: flex;
    align-items: center;
    margin-right: 10px;

    .token-image {
      width: 580px;
      height: 580px;
      position: relative;
      border-radius: 5px;
      object-fit: cover;
    }

    .magnify-zoom-icon {
      width: 25px;
      height: 25px;
      position: absolute;
      bottom: 2px;
      right: 2px;
    }

    .image-content {
      height: 580px;
      position: relative;
    }
  }

  .details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .info-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1px;
  }
}

.description-block {
  display: flex;
  flex-direction: column;
  background-color: #21383D;
  margin: 5px 2px 0 2px;
  padding: 5px 10px 15px 5px;
  border-radius: 5px;
  min-height: 140px;

  .title {
    color: #7D9FB1;
    font-size: 12px;
    margin: 0 5px;
  }

  .content {
    display: flex;
    font-size: 18px;
    font-weight: 300;
    color: var(--white);
    margin: 20px 10px;
    align-items: center;
    align-self: center;
    height: 100%;
  }

  .inline-content {
    font-size: 16px;
    font-weight: 300;
    color: var(--pink);
    display: table;
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    text-align: center;
    margin: 20px 5px;
  }

  .grid-content {
    display: flex;
    font-size: 18px;
    font-weight: 300;
    color: var(--white);
    margin: 20px auto 0 auto;
    align-items: flex-end;
  }

  .token-logo {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  .collection-logo {
    @extend .token-logo;
    border-radius: 9999px;
  }
}

.content-block {
  @extend .description-block;
  min-height: 70px;
}

.nft-attributes-container {
  .attributes-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1px;
  }

  .attributes-block {
    @extend .description-block;
    min-height: auto;
  }
}

.section-title {
  margin: 0 0 5px 2px;
}

.title-container {
  display: flex;
  align-items: center;

  h1 {
    letter-spacing: -1.27px;
    margin: 48px 0;
    font-weight: 500;
  }

  svg {
    margin-bottom: 6px;
    margin-right: 12px;

    g {
      fill: #fff;
    }
  }
}

#modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  width: max-content;
  font-weight: 300;

  .content-position {
    width: 100%;

    &:first-of-type {
      text-align: right;
    }

    &:last-of-type {
      text-align: left;
      margin-top: 10px;
    }
  }

  img {
    max-width: 800px;
    height: auto;
    width: auto;
  }

  button {
    background-color: transparent;
    border: none;
    color: var(--white);
  }
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .nft-title {
    flex-direction: column;
    align-items: start;
    font-size: 25px;
    margin-bottom: 15px;

    .id {
      font-size: 25px;
      display: block;
      margin-top: 10px;
    }
  }

  .description-block {
    height: auto;
    .title {
      font-size: 25px;
      padding-top: 5px;
    }
    .content {
      font-size: 25px;
      text-align: left;
      align-self: flex-start;
    }
    .inline-content {
      font-size: 25px;
      align-self: center;
      margin: 15px;
    }
    .grid-content {
      font-size: 35px;
      margin: 0 10px;
      text-align: right;
      align-items: center;
      align-self: flex-end;
    }
    .token-logo {
      width: 40px;
      height: 40px;
    }
  }

  .section-title {
    margin-bottom: 30px;
    font-size: 25px;

    &:after {
      content: ""
    }
  }

  .content-block {
    height: auto;
  }

  .nft-information-container {
    .info-grid {
      grid-template-columns: 1fr;
    }

    .image-container {
      justify-content: center;
      margin: 0 0 30px 0;

      img {
        width: 780px;
        height: 780px;
      }
    }
  }

  .nft-attributes-container {
    .attributes-grid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .attributes-block {
      .title {
        font-size: 25px;
        margin: 5px;
      }
      .content {
        font-size: 35px;
        margin: 0 10px;
        align-self: end;
      }
    }
  }

  .title-container {
    h1 {
      font-size: 47px;
    }
    svg {
      margin: 0 10px 0 0;
    }
    margin: 0;
  }

  #modal-content {
    margin: 0 15px;

    img {
      max-width: 100%;
    }
  }
}

