#nft-container {
  .skeleton-row:not(:last-child) {
    margin-bottom: 16px;
  }

  #nft-cards-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  #no-nft {
    display: flex;
    justify-content: center;

    p {
      font-size: 24px;
      color: #88a2b3;
    }
  }

  #button-container {
    display: flex;
    margin-top: 55px;
    justify-content: center;

    > button {
      width: max-content;
      padding: 0 45px;
    }
  }
}
