.network-status-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.network-status-header {
  height: 47px;
}

.network-status-title {
  color: #ffffff;
  font-size: 24px;
  background-color: #1a2f34;
}

.network-status-content {
  display: flex;
}

.page-title-container {
  display: flex;
  align-items: center;

  h1 {
    letter-spacing: -1.27px;
    margin: 48px 0;
    font-weight: 500;
  }

  img {
    margin-bottom: 6px;
    margin-right: 12px;

    g {
      fill: #fff;
    }
  }
}

.endpoint {
  display: flex;
  padding: 2;
}
