.network-status-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.network-status-header {
  height: 47px;
  background-color: #ffffff07;
  margin-bottom: 5px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.network-status-title {
  color: #ffffff;
  font-size: 24px;
  padding-top: 5px;
  padding-left: 11px;
}

.network-status-content {
  display: flex;
  justify-content: space-between;
}

.page-title-container {
  display: flex;
  align-items: center;

  h1 {
    letter-spacing: -1.27px;
    margin: 48px 0;
    font-weight: 500;
  }

  svg {
    margin-bottom: 6px;
    margin-right: 12px;

    g {
      fill: #fff;
    }
  }
}

.endpoint {
  display: flex;

  align-items: center;
  margin-left: -15px;

  min-width: 250px;
  width: 250px;
  margin-left: 2px;

  .endpoint-url {
    width: 215px;
    min-width: 215px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  span {
    margin-top: 2px;
  }
}

.endpoint-flag-container {
  margin-right: 7px;
}

.disable {
  color: #7d9fb1;
}

.cursor-pointer {
  cursor: pointer;
}

.copy-clipboard {
  width: 350px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #00000099;
  border-radius: 15px;
}

.endpoint-copy-icon {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 20px;
}

#Monitor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media only screen and (max-width: 1300px) {
    .network-status-content :first-child {
      margin-left: 0;
    }
    .network-status-content :last-child {
      margin-right: 0;
    }

    .information-panel-container {
      width: 100%;
      margin: 2px;
      min-width: 200px;
      margin-bottom: 50px;

      .information-panel-data {
        height: 100%;
        margin-top: -24px;
      }

      h1 {
        font-size: 22px;
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    .endpoint {
      min-width: 100px;
      width: 100px;

      .endpoint-url {
        font-size: 10px;
        min-width: 100px;
      }
    }
  }

  @media only screen and (max-width: 850px) {
    .network-status-content {
      flex-direction: column;

      .information-panel-container {
        margin: 2px 0;
      }
    }

    .data-list-container {
      margin-top: 50px;
    }
  }

  @media only screen and (max-width: 710px) {
    .select-container {
      align-items: center;
      max-height: 30px;
    }
  }
}
