openapi: 3.0.0
info:
  description: This is version 1.1 of the Dora API
  version: "1.1"
  title: Dora
  termsOfService: "https://dora.coz.io/terms/"
  contact:
    email: contact@coz.io
  license:
    name: MIT
    url: "https://opensource.org/licenses/MIT"
servers:
  - url: "https://dora.coz.io/api/v1/neo2/mainnet"
    description: mainnet
  - url: "https://dora.coz.io/api/v1/neo2/testnet"
    description: testnet
paths:
  "/block/{block_hash}":
    parameters:
      - schema:
          type: string
        name: block_hash
        in: path
        required: true
        description: Hash or height of block
    get:
      summary: Get block
      tags: []
      responses:
        "200":
          description: Block record
          content:
            application/json:
              schema:
                description: ""
                type: object
                properties:
                  hash:
                    type: string
                    minLength: 1
                  size:
                    type: number
                  version:
                    type: number
                  previousblockhash:
                    type: string
                    minLength: 1
                  merkleroot:
                    type: string
                    minLength: 1
                  time:
                    type: string
                    minLength: 1
                  index:
                    type: number
                  nonce:
                    type: string
                    minLength: 1
                  nextconsensus:
                    type: string
                    minLength: 1
                  script:
                    type: object
                    properties:
                      invocation:
                        type: string
                        minLength: 1
                      verification:
                        type: string
                        minLength: 1
                    required:
                      - invocation
                      - verification
                  tx:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - _id
                        - txid
                        - size
                        - type
                        - version
                        - sys_fee
                        - net_fee
                        - nonce
                        - time
                        - block
                        - jsonsize
                      properties:
                        _id:
                          type: string
                          minLength: 1
                        txid:
                          type: string
                          minLength: 1
                        size:
                          type: number
                        type:
                          type: string
                          minLength: 1
                        version:
                          type: number
                        attributes:
                          type: array
                          items:
                            properties: {}
                        vin:
                          type: array
                          items:
                            properties: {}
                        vout:
                          type: array
                          items:
                            properties: {}
                        sys_fee:
                          type: string
                          minLength: 1
                        net_fee:
                          type: string
                          minLength: 1
                        scripts:
                          type: array
                          items:
                            properties: {}
                        nonce:
                          type: number
                        time:
                          type: string
                          minLength: 1
                        block:
                          type: number
                        jsonsize:
                          type: number
                  blocktime:
                    type: number
                  jsonsize:
                    type: number
                  txCount:
                    type: number
                required:
                  - hash
                  - size
                  - version
                  - previousblockhash
                  - merkleroot
                  - time
                  - index
                  - nonce
                  - nextconsensus
                  - script
                  - tx
                  - blocktime
                  - jsonsize
                  - txCount
              examples:
                Block:
                  value:
                    hash: "0xd782db8a38b0eea0d7394e0f007c61c71798867578c77c387c08113903946cc9"
                    size: 686
                    version: 0
                    previousblockhash: "0xd42561e3d30e15be6400b6df2f328e02d2bf6354c41dce433bc57687c82144bf"
                    merkleroot: "0xd6ba8b0f381897a59396394e9ce266a3d1d0857b5e3827941c2d2cedc38ef918"
                    time: "1476647382.000000"
                    index: 1
                    nonce: 6c727071bbd09044
                    nextconsensus: APyEx5f4Zm4oCHwFWiSTaph1fPBxZacYVR
                    script:
                      invocation: 404edf5005771de04619235d5a4c7a9a11bb78e008541f1da7725f654c33380a3c87e2959a025da706d7255cb3a3fa07ebe9c6559d0d9e6213c68049168eb1056f4038a338f879930c8adc168983f60aae6f8542365d844f004976346b70fb0dd31aa1dbd4abd81e4a4aeef9941ecd4e2dd2c1a5b05e1cc74454d0403edaee6d7a4d4099d33c0b889bf6f3e6d87ab1b11140282e9a3265b0b9b918d6020b2c62d5a040c7e0c2c7c1dae3af9b19b178c71552ebd0b596e401c175067c70ea75717c8c00404e0ebd369e81093866fe29406dbf6b402c003774541799d08bf9bb0fc6070ec0f6bad908ab95f05fa64e682b485800b3c12102a8596e6c715ec76f4564d5eff34070e0521979fcd2cbbfa1456d97cc18d9b4a6ad87a97a2a0bcdedbf71b6c9676c645886056821b6f3fec8694894c66f41b762bc4e29e46ad15aee47f05d27d822
                      verification: 552102486fd15702c4490a26703112a5cc1d0923fd697a33406bd5a1c00e0013b09a7021024c7b7fb6c310fccf1ba33b082519d82964ea93868d676662d4a59ad548df0e7d2102aaec38470f6aad0042c6e877cfd8087d2676b0f516fddd362801b9bd3936399e2103b209fd4f53a7170ea4444e0cb0a6bb6a53c2bd016926989cf85f9b0fba17a70c2103b8d9d5771d8f513aa0869b9cc8d50986403b78c6da36890638c3d46a5adce04a2102ca0e27697b9c248f6f16e085fd0061e26f44da85b58ee835c110caa5ec3ba5542102df48f60e8f3e01c48ff40b9b7f1310d7a8b2a193188befe1c2e3df740e89509357ae
                    tx:
                      - _id: "0xd6ba8b0f381897a59396394e9ce266a3d1d0857b5e3827941c2d2cedc38ef918"
                        txid: "0xd6ba8b0f381897a59396394e9ce266a3d1d0857b5e3827941c2d2cedc38ef918"
                        size: 10
                        type: MinerTransaction
                        version: 0
                        attributes: []
                        vin: []
                        vout: []
                        sys_fee: "0"
                        net_fee: "0"
                        scripts: []
                        nonce: 3151007812
                        time: "1476647382.000000"
                        block: 1
                        jsonsize: 248
                    blocktime: 8052081
                    jsonsize: 1804
                    txCount: 1
      operationId: /block/{block_hash}
      description: Get a block record
  "/address_stats/{address}":
    parameters:
      - schema:
          type: string
        name: address
        in: path
        required: true
        description: Neo address
    get:
      summary: Get address stats
      tags: []
      responses:
        "200":
          description: Address stats
          content:
            application/json:
              schema:
                type: array
                description: ""
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - asset
                    - balances
                  properties:
                    asset:
                      type: string
                      minLength: 1
                    balances:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        required:
                          - date
                          - balance
                        properties:
                          date:
                            type: string
                            minLength: 1
                          balance:
                            type: number
              examples:
                Address stats:
                  value:
                    - asset: "0xc56f33fc6ecfcd0c225c4ab356fee59390af8560be0e930faebe74a6daff7c9b"
                      balances:
                        - date: "20161113"
                          balance: 0
                        - date: "20161115"
                          balance: 2
                        - date: "20161116"
                          balance: 3
                        - date: "20161118"
                          balance: 12
                        - date: "20161121"
                          balance: 2
                        - date: "20161122"
                          balance: 1
                        - date: "20161128"
                          balance: 2
                        - date: "20161201"
                          balance: 10
                        - date: "20170306"
                          balance: 0
                    - asset: "0x602c79718b16e442de58778e148d0b1084e3b2dffd5de6b7b16cee7969282de7"
                      balances:
                        - date: "20161115"
                          balance: 11
                        - date: "20161116"
                          balance: 0
                        - date: "20161118"
                          balance: 0
                        - date: "20161121"
                          balance: 1
                        - date: "20161122"
                          balance: 4
                        - date: "20161128"
                          balance: 2
                        - date: "20161201"
                          balance: 10
                        - date: "20170107"
                          balance: 9
                        - date: "20170306"
                          balance: 0
                        - date: "20170324"
                          balance: 1e-7
                        - date: "20170327"
                          balance: 0
                        - date: "20170508"
                          balance: 0
                        - date: "20170629"
                          balance: 0.37242368
                        - date: "20170630"
                          balance: 0
                        - date: "20180101"
                          balance: 0
                        - date: "20180122"
                          balance: 0
                        - date: "20190620"
                          balance: 0
                    - asset: "0x07de511668e6ecc90973d713451c831d625eca229242d34debf16afa12efc1c1"
                      balances:
                        - date: "20170619"
                          balance: 100
                        - date: "20170627"
                          balance: 0
                    - asset: "0xecc6b20d3ccac1ee9ef109af5a7cdb85706b1df9"
                      balances:
                        - date: "20171110"
                          balance: 100000000
                        - date: "20171111"
                          balance: 99000000
                        - date: "20171112"
                          balance: 60000000
                        - date: "20171224"
                          balance: 100000000
                        - date: "20171229"
                          balance: 90000000
                        - date: "20171230"
                          balance: 0
                        - date: "20180101"
                          balance: 0
                    - asset: "0x0d821bd7b6d53f5c2b40e217c6defc8bbe896cf5"
                      balances:
                        - date: "20171230"
                          balance: 0
                    - asset: "0xb951ecbbc5fe37a9c280a76cb0ce0014827294cf"
                      balances:
                        - date: "20171230"
                          balance: 999900000000
                    - asset: "0xa52e3e99b6c2dd2312a94c635c050b4c2bc2485fcb924eecb615852bd534a63f"
                      balances:
                        - date: "20180118"
                          balance: 0
                        - date: "20180122"
                          balance: 0
                    - asset: "0xa87cc2a513f5d8b4a42432343687c2127c60bc3f"
                      balances:
                        - date: "20180508"
                          balance: 300000000000
                        - date: "20180523"
                          balance: 0
      operationId: "/address_stats/{address}"
      description: Get balance changes for an address over time
  "/asset/{asset_hash}":
    parameters:
      - schema:
          type: string
        name: asset_hash
        in: path
        required: true
        description: Scripthash of asset
    get:
      summary: Get asset
      tags: []
      responses:
        "200":
          description: Asset record
          content:
            application/json:
              schema:
                description: ""
                type: object
                properties:
                  scripthash:
                    type: string
                    minLength: 1
                  firstseen:
                    type: number
                  name:
                    type: string
                    minLength: 1
                  symbol:
                    type: string
                    minLength: 1
                  decimals:
                    type: string
                    minLength: 1
                  state:
                    type: object
                    properties:
                      version:
                        type: number
                      hash:
                        type: string
                        minLength: 1
                      script:
                        type: string
                        minLength: 1
                      parameters:
                        type: array
                        items:
                          properties: {}
                      returntype:
                        type: string
                        minLength: 1
                      name:
                        type: string
                        minLength: 1
                      code_version:
                        type: string
                        minLength: 1
                      author:
                        type: string
                        minLength: 1
                      email:
                        type: string
                        minLength: 1
                      description:
                        type: string
                        minLength: 1
                      properties:
                        type: object
                        properties:
                          storage:
                            type: boolean
                          dynamic_invoke:
                            type: boolean
                        required:
                          - storage
                          - dynamic_invoke
                    required:
                      - version
                      - hash
                      - script
                      - parameters
                      - returntype
                      - name
                      - code_version
                      - author
                      - email
                      - description
                      - properties
                  type:
                    type: string
                    minLength: 1
                  time:
                    type: string
                    minLength: 1
                required:
                  - scripthash
                  - firstseen
                  - name
                  - symbol
                  - decimals
                  - state
                  - type
                  - time
              examples:
                Asset:
                  value:
                    scripthash: "0xf46719e2d16bf50cddcef9d4bbfece901f73cbb6"
                    firstseen: 6196580
                    name: NEO NEP5
                    symbol: nNEO
                    decimals: "8"
                    state:
                      version: 0
                      hash: "0xf46719e2d16bf50cddcef9d4bbfece901f73cbb6"
                      script: 0131c56b6c766b00527ac46c766b51527ac46161680475c893e3009c6a52527ac46a52c364d402616168049a1f194a6a53527ac46a53c361680417a588c16a54527ac46a53c3616804c6c508866a55527ac4616a54c36a5a527ac4006a5b527ac462c2006a5ac36a5bc3c36a5c527ac4616a5cc3616804b794c5e9009c6a5d527ac46a5dc3649300616168048418d60d06726566756e64617ce0010234106a5e527ac46a5ec36a5cc36168046f6c6e8d617ce0010241106a5f527ac46a5fc3c000a06a60527ac46a60c3644d00616a54c3c051907c907c9e630e006a55c3c0519c009c620400516a0111527ac46a0111c3640d00006a0112527ac4621e056a55c300c36168041f846c636a5fc39c6a0112527ac462050561616a5bc351936a5b527ac46a5bc36a5ac3c09f6339ff61680487c3d2646a56527ac4006a57527ac4616a53c3616804301111106a0113527ac4006a0114527ac46295006a0113c36a0114c3c36a0115527ac4616a0115c361680484848b7461209b7cffdaa674beae0f930ebe6085af9093e5fe56b34a5c220ccdcf6efc336fc59e6a0116527ac46a0116c3640d00006a0112527ac4626c046a0115c36168041f846c636a56c39c6a0117527ac46a0117c36417006a57c36a0115c36168049304570f936a57527ac4616a0114c351936a0114527ac46a0114c36a0113c3c09f6364ff006a58527ac4516a59527ac4616a55c36a0118527ac4006a0119527ac4628d006a0118c36a0119c3c36a011a527ac4616a011ac36168041f846c636a56c39c6434006a011ac361680484848b7461209b7cffdaa674beae0f930ebe6085af9093e5fe56b34a5c220ccdcf6efc336fc59c620400006a011b527ac46a011bc3641f0061006a59527ac46a58c36a011ac36168049304570f936a58527ac461616a0119c351936a0119527ac46a0119c36a0118c3c09f636cff6a59c36a011c527ac46a011cc3642a006161143c843e90c42760897d626a88a00acee26a2954f4616804efdfe6946a0112527ac46234036a58c36a57c39c6a0112527ac462240361680475c893e3609c6a011d527ac46a011dc36423026161680445995a5c6a011e527ac46a00c30962616c616e63654f66876a011f527ac46a011fc36417006a51c300c361e00101e2026a0112527ac462d1026a00c308646563696d616c73876a0120527ac46a0120c364120061e0010043036a0112527ac462a8026a00c30f676574526566756e64546172676574876a0121527ac46a0121c36417006a51c300c361e0010116036a0112527ac46273026a00c3096765745478496e666f876a0122527ac46a0122c36417006a51c300c361e0010176036a0112527ac46244026a00c30a6d696e74546f6b656e73876a0123527ac46a0123c364120061e0010040046a0112527ac46219026a00c3046e616d65876a0124527ac46a0124c364120061e00100ba066a0112527ac462f4016a00c306726566756e64876a0125527ac46a0125c36417006a51c300c361e001019e066a0112527ac462c8016a00c30673796d626f6c876a0126527ac46a0126c364120061e00100b1096a0112527ac462a1016a00c312737570706f727465645374616e6461726473876a0127527ac46a0127c364120061e001008a096a0112527ac4626e016a00c30b746f74616c537570706c79876a0128527ac46a0128c364120061e0010082096a0112527ac46242016a00c3087472616e73666572876a0129527ac46a0129c36439006a51c300c36a51c351c36a51c352c36a011ec3615379517955727551727552795279547275527275e0010494096a0112527ac462f2006162e40061680475c893e3519c6a012a527ac46a012ac364ce006161680487c3d2646a012b527ac46168049a1f194a6a012c527ac4616a012cc3616804c6c508866a012d527ac4006a012e527ac46280006a012dc36a012ec3c36a012f527ac4616a012fc36168041f846c636a012bc3907c907c9e6334006a012fc361680484848b7461209b7cffdaa674beae0f930ebe6085af9093e5fe56b34a5c220ccdcf6efc336fc59e620400006a0130527ac46a0130c3640d00006a0112527ac4623100616a012ec351936a012e527ac46a012ec36a012dc3c09f6379ff516a0112527ac4620d00006a0112527ac46203006a0112c3616c756654c56b6c766b00527ac4616a00c3c001149c009c6a52527ac46a52c36439003254686520706172616d65746572206163636f756e742053484f554c442062652032302d62797465206164647265737365732e6175f06168048418d60d056173736574617ce00102480a6a51527ac46a51c36a00c3617ce001025c0a6a53527ac46203006a53c3616c756600c56b58616c756654c56b6c766b00527ac4616a00c3c001209c009c6a52527ac46a52c3643d003654686520706172616d6574657220747849642053484f554c442062652033322d62797465207472616e73616374696f6e20686173682e6175f06168048418d60d06726566756e64617ce00102b1096a51527ac46a51c36a00c3617ce00102c5096a53527ac46203006a53c3616c756656c56b6c766b00527ac4616a00c3c001209c009c6a53527ac46a53c3643d003654686520706172616d6574657220747849642053484f554c442062652033322d62797465207472616e73616374696f6e20686173682e6175f06168048418d60d067478496e666f617ce0010222096a51527ac46a51c36a00c3617ce0010236096a52527ac46a52c3c0009c6a54527ac46a54c3640c00006a55527ac46215006a52c361680459e9c3ee6a55527ac46203006a55c3616c756653c56b6c766b00527ac4616a00c3616804a16ba92e6a51527ac46a51c36410006a51c361680477fd08c8620400516a52527ac46203006a52c3616c75660114c56b616168049a1f194a6a00527ac4006a51527ac46a00c3616804301111106a52527ac4616a52c36a59527ac4006a5a527ac46290006a59c36a5ac3c36a5b527ac4616a5bc361680484848b7461209b7cffdaa674beae0f930ebe6085af9093e5fe56b34a5c220ccdcf6efc336fc59c6a5c527ac46a5cc3641a006a51c376630e00756a5bc36168041f846c636a51527ac46a5bc36168041f846c6361680487c3d2649c6a5d527ac46a5dc3640c00006a5e527ac462e101616a5ac351936a5a527ac46a5ac36a59c3c09f636bff6a00c36168048d64b05961e001012efe00a06a5f527ac46a5fc3640c00006a5e527ac462a5016a00c3616804c6c508866a53527ac4006a54527ac4616a53c36a60527ac4006a0111527ac4628e006a60c36a0111c3c36a0112527ac4616a0112c36168041f846c6361680487c3d264907c907c9e6334006a0112c361680484848b7461209b7cffdaa674beae0f930ebe6085af9093e5fe56b34a5c220ccdcf6efc336fc59c620400006a0113527ac46a0113c3641900616a54c36a0112c36168049304570f936a54527ac461616a0111c351936a0111527ac46a0111c36a60c3c09f636cff6168048418d60d08636f6e7472616374617ce00102cf066a55527ac46a55c30b746f74616c537570706c79617ce0010210076a56527ac46a56c36a54c3936a56527ac46a55c30b746f74616c537570706c796a56c3615272e000031b07616168048418d60d056173736574617ce0010274066a57527ac46a57c36a51c3617ce0010288066a58527ac46a57c36a51c36a58c36a54c393615272e000031b0761006a51c36a54c3615272e0000309036161006a51c36a54c3615272087472616e7366657254c168124e656f2e52756e74696d652e4e6f7469667961516a5e527ac46203006a5ec3616c756600c56b084e454f204e455035616c75660111c56b6c766b00527ac4616a00c3c001149c009c6a59527ac46a59c36436002f54686520706172616d657465722066726f6d2053484f554c442062652032302d62797465206164647265737365732e6175f06168049a1f194a6a51527ac46a51c3616804c6c5088600c36a52527ac46a52c361680484848b7461209b7cffdaa674beae0f930ebe6085af9093e5fe56b34a5c220ccdcf6efc336fc59e6a5a527ac46a5ac3640c00006a5b527ac46205026a52c36168041f846c6361680487c3d2649e6a5c527ac46a5cc3640c00006a5b527ac462df016168048418d60d06726566756e64617ce0010200056a53527ac46a53c36a51c36168048d64b059617ce001020d05c000a06a5d527ac46a5dc3640c00006a5b527ac4629a016a00c3616804efdfe694009c6a5e527ac46a5ec3640c00006a5b527ac4627a016168048418d60d056173736574617ce001029c046a54527ac46a54c36a00c3617ce00102b0046a55527ac46a52c36168049304570f6a56527ac46a55c36a56c39f6a5f527ac46a5fc3640c00006a5b527ac46225016a55c36a56c39c6a60527ac46a60c36414006a54c36a00c3617ce000025005616219006a54c36a00c36a55c36a56c394615272e00003f604616a53c36a51c36168048d64b0596a00c3615272e000035405616168048418d60d08636f6e7472616374617ce00102f2036a57527ac46a57c30b746f74616c537570706c79617ce0010233046a58527ac46a58c36a56c3946a58527ac46a57c30b746f74616c537570706c796a58c3615272e000033e04616a00c3006a56c3615272e000036d0061616a00c3006a56c3615272087472616e7366657254c168124e656f2e52756e74696d652e4e6f7469667961616a51c36168048d64b0596a00c3617c06726566756e6453c168124e656f2e52756e74696d652e4e6f7469667961516a5b527ac46203006a5bc3616c756656c56b6c766b00527ac46c766b51527ac46c766b52527ac4616168049a1f194a6168048d64b0596a53527ac46153c5766a00c3007cc4766a51c3517cc4766a52c3527cc46a54527ac46168048418d60d067478496e666f617ce00102d4026a55527ac46a55c36a53c36a54c3616804c3b04461615272e00003010461616c756600c56b046e4e454f616c756600c56b1c7b224e45502d35222c20224e45502d37222c20224e45502d3130227d616c756652c56b616168048418d60d08636f6e7472616374617ce0010267026a00527ac46a00c30b746f74616c537570706c79617ce00102a8026a51527ac46203006a51c3616c756653c56b6c766b00527ac46c766b51527ac46c766b52527ac451616c75665fc56b6c766b00527ac46c766b51527ac46c766b52527ac46c766b53527ac4616a00c3c00114907c907c9e630f006a51c3c001149c009c620400516a57527ac46a57c3643e003754686520706172616d65746572732066726f6d20616e6420746f2053484f554c442062652032302d62797465206164647265737365732e6175f06a52c300a16a58527ac46a58c36433002c54686520706172616d6574657220616d6f756e74204d5553542062652067726561746572207468616e20302e6175f06a51c361e0010181f8009c6a59527ac46a59c3640c00006a5a527ac46239016a00c3616804efdfe694630d006a00c36a53c39e620400006a5b527ac46a5bc3640c00006a5a527ac4620d016168048418d60d056173736574617ce0010200016a54527ac46a54c36a00c3617ce0010214016a55527ac46a55c36a52c39f6a5c527ac46a5cc3640c00006a5a527ac462c7006a00c36a51c39c6a5d527ac46a5dc3640c00516a5a527ac462ac006a55c36a52c39c6a5e527ac46a5ec36414006a54c36a00c3617ce00002a801616219006a54c36a00c36a55c36a52c394615272e000034e01616a54c36a51c3617ce0010293006a56527ac46a54c36a51c36a56c36a52c393615272e000032601616a00c36a51c36a52c3615272e0000312fd61616a00c36a51c36a52c3615272087472616e7366657254c168124e656f2e52756e74696d652e4e6f7469667961516a5a527ac46203006a5ac3616c756652c56b6c766b00527ac46c766b51527ac46152c5766a00c3007cc4766a51c3517cc4616c756653c56b6c766b00527ac46c766b51527ac46a00c351c301007e6a51c37e6a52527ac46a00c300c36a52c3617c68041f2e7b07616c756653c56b6c766b00527ac46c766b51527ac46a00c351c301007e6a51c37e6a52527ac46a00c300c36a52c3617c68041f2e7b07616c756654c56b6c766b00527ac46c766b51527ac46c766b52527ac46a00c351c301007e6a51c37e6a53527ac46a00c300c36a53c36a52c3615272680452a141f5616c756654c56b6c766b00527ac46c766b51527ac46c766b52527ac46a00c351c301007e6a51c37e6a53527ac46a00c300c36a53c36a52c3615272680452a141f5616c756653c56b6c766b00527ac46c766b51527ac46a00c351c301007e6a51c37e6a52527ac46a00c300c36a52c3617c6804ef7cef5d616c756654c56b6c766b00527ac46c766b51527ac46c766b52527ac46a00c351c301007e6a51c37e6a53527ac46a00c300c36a53c36a52c3615272680452a141f5616c7566
                      parameters:
                        - String
                        - Array
                      returntype: ByteArray
                      name: nNEO
                      code_version: "1.0"
                      author: Flamingo
                      email: developer@flamingo.finance
                      description: Copyright@Flamingo Team
                      properties:
                        storage: true
                        dynamic_invoke: false
                    type: NEP5
                    time: "1600747532.000000"
      operationId:  "/asset/{asset_hash}"
      description: Get an asset record
  "/assets/{page}":
    parameters:
      - schema:
          type: string
        name: page
        in: path
        required: true
        description: Page number to return
    get:
      summary: Get assets
      tags: []
      responses:
        "200":
          description: Page of assets
          content:
            application/json:
              schema:
                description: ""
                type: object
                properties:
                  items:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - scripthash
                        - firstseen
                        - name
                        - symbol
                        - decimals
                      properties:
                        scripthash:
                          type: string
                          minLength: 1
                        firstseen:
                          type: number
                        name:
                          type: string
                          minLength: 1
                        symbol:
                          type: string
                          minLength: 1
                        decimals:
                          type: string
                          minLength: 1
                  totalCount:
                    type: number
                required:
                  - items
                  - totalCount
              examples:
                Assets:
                  value:
                    items:
                      - scripthash: "0x1a364b168a520080d0149391179ef1fa9ba440fc"
                        firstseen: 7040025
                        name: Exchange Pair
                        symbol: FLP-fWBTC-nNEO
                        decimals: "8"
                      - scripthash: "0xd72df3af5efb9b6f28aa0cc12e0aa886bbbf00ba"
                        firstseen: 7040018
                        name: Exchange Pair
                        symbol: FLP-fWBTC-fUSDT
                        decimals: "8"
                      - scripthash: "0x7433a3a927c54b1f27eb7c89ac94e608a8a6ad8c"
                        firstseen: 7040012
                        name: Exchange Pair
                        symbol: FLP-nNEO-fUSDT
                        decimals: "8"
                      - scripthash: "0x0f6b073b80e6384d691b7cf1cb8649582fbd7d10"
                        firstseen: 7035063
                        name: pxWBTC NEP5
                        symbol: pxWBTC
                        decimals: "8"
                      - scripthash: "0x36a8f669d55bbfe99a3e9f7953745736bfa5453c"
                        firstseen: 7035060
                        name: fWBTC NEP5
                        symbol: fWBTC
                        decimals: "8"
                      - scripthash: "0x1aa893170b1babfefba973e9a9183990d792c2a7"
                        firstseen: 7035037
                        name: fUSDT NEP5
                        symbol: fUSDT
                        decimals: "6"
                      - scripthash: "0x962c16f9b8d031d8bf818f8d5e6d229f1d032d35"
                        firstseen: 7035028
                        name: pxUSDT NEP5
                        symbol: pxUSDT
                        decimals: "6"
                      - scripthash: "0xc33043fa3961bd3cc81d36c31e3b08fcedd8930d"
                        firstseen: 6996095
                        name: Exchange Pair
                        symbol: FLP-fWETH-nNEO
                        decimals: "8"
                      - scripthash: "0x179a0db04a130dec6060cd9569d7ee7d7e8eccdc"
                        firstseen: 6994538
                        name: fWETH NEP5
                        symbol: fWETH
                        decimals: "18"
                      - scripthash: "0xb75022ea4846a10b31e3b14e1dec15672638ed0f"
                        firstseen: 6994529
                        name: pxWETH NEP5
                        symbol: pxWETH
                        decimals: "18"
                      - scripthash: "0xcf0bec047573d2b5f4b99a5f6655226e0fb5f7f9"
                        firstseen: 6738957
                        name: Perp Mock USDT
                        symbol: PMU
                        decimals: "6"
                      - scripthash: "0x8edf74d3391b92f1f7c7e58d30664d5c3b18bf1f"
                        firstseen: 6648322
                        name: ZFB
                        symbol: ZFB
                        decimals: "8"
                      - scripthash: "0x04c024709f0a379c047a0e518b0668c55016a40e"
                        firstseen: 6605859
                        name: Exchange Pair
                        symbol: FLP-BRDG-nNEO
                        decimals: "8"
                      - scripthash: "0xb259ee05485cd9f729ac5a2d5cd462221e40be96"
                        firstseen: 6519700
                        name: Peet
                        symbol: PTE
                        decimals: "8"
                      - scripthash: "0x2b7f90c9c1780ed0ca41bb0c0e7680bbde247339"
                        firstseen: 6492418
                        name: Neo Fast-Pass
                        symbol: NFP
                        decimals: "0"
                    totalCount: 203
      operationId: "/assets/{page}"
      description: Get paginated list of assets
  "/balance/{address}":
    parameters:
      - schema:
          type: string
        name: address
        in: path
        required: true
        description: Neo address
    get:
      summary: Get balance
      tags: []
      responses:
        "200":
          description: Balance of address
          content:
            application/json:
              schema:
                type: array
                description: ""
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - asset
                    - asset_name
                    - symbol
                    - balance
                  properties:
                    asset:
                      type: string
                      minLength: 1
                    asset_name:
                      type: string
                      minLength: 1
                    symbol:
                      type: string
                      minLength: 1
                    balance:
                      type: number
              examples:
                Balance:
                  value:
                    - asset: "0xc56f33fc6ecfcd0c225c4ab356fee59390af8560be0e930faebe74a6daff7c9b"
                      asset_name: NEO
                      symbol: NEO
                      balance: 37
                    - asset: "0x602c79718b16e442de58778e148d0b1084e3b2dffd5de6b7b16cee7969282de7"
                      asset_name: GAS
                      symbol: GAS
                      balance: 9.43445593
                    - asset: "0x534dcac35b0dfadc7b2d716a7a73a7067c148b37"
                      asset_name: pnWBTC NEP5
                      symbol: pnWBTC
                      balance: 0
      operationId: "/balance/{address}"
      description: Get balance of address
  "/blocks/{page}":
    parameters:
      - schema:
          type: string
        name: page
        in: path
        required: true
        description: Page number to return
    get:
      summary: Get blocks
      tags: []
      responses:
        "200":
          description: Page of blocks
          content:
            application/json:
              schema:
                description: ""
                type: object
                properties:
                  items:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - hash
                        - size
                        - time
                        - index
                        - blocktime
                        - txCount
                      properties:
                        hash:
                          type: string
                          minLength: 1
                        size:
                          type: number
                        time:
                          type: string
                          minLength: 1
                        index:
                          type: number
                        blocktime:
                          type: number
                        txCount:
                          type: number
                  totalCount:
                    type: number
                required:
                  - items
                  - totalCount
              examples:
                Blocks:
                  value:
                    items:
                      - hash: "0x0fc07add3cf405610306bfd1baf01998abea73a09691cc3149687a63d1e7ba99"
                        size: 23520
                        time: "1615769589.000000"
                        index: 7053583
                        blocktime: 17
                        txCount: 61
                      - hash: "0xa5a84f6412878378ea642ebbcd0373c61a89dc9506b4f4a57b47b8fd8f0fb52a"
                        size: 23370
                        time: "1615769572.000000"
                        index: 7053582
                        blocktime: 16
                        txCount: 62
                      - hash: "0x6ca7246934db7a0b58173f956d5117f506a11e8f73983d1fdfd0deda72ea5a81"
                        size: 21251
                        time: "1615769556.000000"
                        index: 7053581
                        blocktime: 16
                        txCount: 56
                      - hash: "0xeb32ec510e60ebcbcc50b6b759abd5b8d1105d0a5692f123f957424d9054c241"
                        size: 23092
                        time: "1615769540.000000"
                        index: 7053580
                        blocktime: 16
                        txCount: 62
                      - hash: "0x2172446c951e08eaacbea0fb97687170144d23ea30039412cd4d65286934a401"
                        size: 26669
                        time: "1615769524.000000"
                        index: 7053579
                        blocktime: 17
                        txCount: 71
                      - hash: "0x4b7c3d599ff6949b220db836e758fda75ce022c12bbe7149f4ea57fe6323a9e7"
                        size: 23397
                        time: "1615769507.000000"
                        index: 7053578
                        blocktime: 17
                        txCount: 64
                      - hash: "0xbf35fefc3c944b26a489175e9338a86ff96e4eded3fbf310364149b427683bc0"
                        size: 29884
                        time: "1615769490.000000"
                        index: 7053577
                        blocktime: 17
                        txCount: 78
                      - hash: "0x80ea4cc4fe8d46ac7cd2196cb6be9101736756b68dfc250cba70ef9d2874c7e9"
                        size: 21645
                        time: "1615769473.000000"
                        index: 7053576
                        blocktime: 17
                        txCount: 58
                      - hash: "0x86cdfb3572ca9e07ee67edf2e07686219321312d2f943e00fd9ec25b1606ecd9"
                        size: 30466
                        time: "1615769456.000000"
                        index: 7053575
                        blocktime: 18
                        txCount: 81
                      - hash: "0x02b4e5d4b06c7d3ff6f86602b9bf1a6b7255488b5654f3616d17ff8a12b23952"
                        size: 23866
                        time: "1615769438.000000"
                        index: 7053574
                        blocktime: 29
                        txCount: 64
                      - hash: "0xaa198c4b3bc979413b2b3cde4c7d88cef966d337607305ba3a90b2ee5cff7f20"
                        size: 20666
                        time: "1615769409.000000"
                        index: 7053573
                        blocktime: 17
                        txCount: 54
                      - hash: "0x24c01cc8a8b8a54a9ae3a33800216fe1c7e23b3b73532cd929fb3e20ce376bd5"
                        size: 23905
                        time: "1615769392.000000"
                        index: 7053572
                        blocktime: 18
                        txCount: 64
                      - hash: "0xac681692beb3f462e7f7ed3ffba63fc76303346c053e838c97b788375a0d6bdd"
                        size: 23644
                        time: "1615769374.000000"
                        index: 7053571
                        blocktime: 16
                        txCount: 62
                      - hash: "0x6fc0eb2037f5b0edec9f3c7c96f6779cdaaba496ac25e6aa32ae20f0e0fb45ac"
                        size: 24700
                        time: "1615769358.000000"
                        index: 7053570
                        blocktime: 16
                        txCount: 66
                      - hash: "0xcced36672611e57db0f888eca14a4e3b7a3d6d78c06277dc0612a2c0c69ba8e9"
                        size: 23147
                        time: "1615769342.000000"
                        index: 7053569
                        blocktime: 18
                        txCount: 61
                    totalCount: 7053840
      operationId: "/blocks/{page}"
      description: Get paginated list of blocks
  "/contract/{contract_hash}":
    parameters:
      - schema:
          type: string
        name: contract_hash
        in: path
        required: true
        description: Scripthash of contract
    get:
      summary: Get contract
      tags: []
      responses:
        "200":
          description: Contract
          content:
            application/json:
              schema:
                description: ""
                type: object
                properties:
                  version:
                    type: number
                  hash:
                    type: string
                    minLength: 1
                  script:
                    type: string
                    minLength: 1
                  parameters:
                    type: array
                    items:
                      properties: {}
                  returntype:
                    type: string
                    minLength: 1
                  name:
                    type: string
                    minLength: 1
                  code_version:
                    type: string
                    minLength: 1
                  author:
                    type: string
                    minLength: 1
                  email:
                    type: string
                    minLength: 1
                  description:
                    type: string
                    minLength: 1
                  properties:
                    type: object
                    properties:
                      storage:
                        type: boolean
                      dynamic_invoke:
                        type: boolean
                    required:
                      - storage
                      - dynamic_invoke
                  block:
                    type: number
                  time:
                    type: string
                    minLength: 1
                required:
                  - version
                  - hash
                  - script
                  - parameters
                  - returntype
                  - name
                  - code_version
                  - author
                  - email
                  - description
                  - properties
                  - block
                  - time
              examples:
                Contract:
                  value:
                    version: 0
                    hash: "0x5ea2866235ab389fdd44017059eac95ca9e247aa"
                    script: 011bc56b6c766b00527ac46c766b51527ac4616168164e656f2e52756e74696d652e47657454726967676572009c6a52527ac46a52c3642b006161651f056168184e656f2e52756e74696d652e436865636b5769746e6573736a53527ac46261046168164e656f2e52756e74696d652e47657454726967676572609c6a54527ac46a54c3643204616a00c31673776170546f6b656e496e466f72546f6b656e4f7574876a55527ac46a55c3643c006a51c300c36a51c351c36a51c352c36a51c353c36a51c354c361547951795672755172755379527955727552727565470f6a53527ac462db036a00c31673776170546f6b656e4f7574466f72546f6b656e496e876a56527ac46a56c3643c006a51c300c36a51c351c36a51c352c36a51c353c36a51c354c3615479517956727551727553795279557275527275650f106a53527ac4627c036a00c30c6164644c6971756964697479876a57527ac46a57c3645f006a51c300c36a51c351c36a51c352c36a51c353c36a51c354c36a51c355c36a51c356c36a51c357c36157795179597275517275567952795872755272755579537957727553727554795479567275547275657f066a53527ac46204036a00c30f72656d6f76654c6971756964697479876a58527ac46a58c36450006a51c300c36a51c351c36a51c352c36a51c353c36a51c354c36a51c355c36a51c356c3615679517958727551727555795279577275527275547953795672755372756576086a53527ac46298026a00c30571756f7465876a59527ac46a59c36420006a51c300c36a51c351c36a51c352c361527265c9096a53527ac46266026a00c30b6765745265736572766573876a5a527ac46a5ac3641a006a51c300c36a51c351c3617c65100d6a53527ac46234026a00c30c676574416d6f756e744f7574876a5b527ac46a5bc36420006a51c300c36a51c351c36a51c352c361527265f3096a53527ac462fb016a00c30d676574416d6f756e74734f7574876a5c527ac46a5cc3641d006a51c300c36100936a51c351c3617c65120b6a53527ac462c4016a00c30b676574416d6f756e74496e876a5d527ac46a5dc36420006a51c300c36a51c351c36a51c352c361527265320a6a53527ac4628c016a00c30c676574416d6f756e7473496e876a5e527ac46a5ec3641d006a51c300c36100936a51c351c3617c656a0b6a53527ac46256016a00c30867657441646d696e876a5f527ac46a5fc3640f006165d5016a53527ac46232016a00c30873657441646d696e876a60527ac46a60c36414006a51c300c361651f026a53527ac46209016a00c30775706772616465876a0111527ac46a0111c364e600616a51c3c0599c1a757067726164653a20617267732e4c656e67746820213d20392e617c65e50f616a51c300c36a0112527ac46a51c351c36a0113527ac46a51c352c36a0114527ac46a51c353c36a0115527ac46a51c354c36a0116527ac46a51c355c36a0117527ac46a51c356c36a0118527ac46a51c357c36a0119527ac46a51c358c36a011a527ac46a0112c36a0113c36a0114c36a0115c36a0116c36a0117c36a0118c36a0119c36a011ac361587951795a727551727557795279597275527275567953795872755372755579547957727554727565c5016a53527ac4620d0061006a53527ac46203006a53c3616c756653c56b6c766b00527ac46c766b51527ac4616a00c3046d696e7451c576006a51c3c4617c527a6700000000000000000000000000000000000000006a52527ac46203006a52c3616c756653c56b6c766b00527ac46c766b51527ac4616a00c3046275726e51c576006a51c3c4617c527a6700000000000000000000000000000000000000006a52527ac46203006a52c3616c756652c56b610a737570657241646d696e6168164e656f2e53746f726167652e476574436f6e74657874680f4e656f2e53746f726167652e4765746a00527ac46a00c3c001149c631c006114e5b457871b35615120c143555afee9995f93f28a6206006a00c36a51527ac46203006a51c3616c756652c56b6c766b00527ac4616a00c3c001149c104e657741646d696e20496e76616c6964617c65e90d61616563ff6168184e656f2e52756e74696d652e436865636b5769746e65737309466f7262696464656e617c65ba0d610a737570657241646d696e6a00c3617c68164e656f2e53746f726167652e476574436f6e74657874680f4e656f2e53746f726167652e50757461516a51527ac46203006a51c3616c75665cc56b6c766b00527ac46c766b51527ac46c766b52527ac46c766b53527ac46c766b54527ac46c766b55527ac46c766b56527ac46c766b57527ac46c766b58527ac4616165a7fe6168184e656f2e52756e74696d652e436865636b5769746e6573731d757067726164653a20436865636b5769746e657373206661696c656421617c65ea0c616a00c3a96a59527ac46a59c361681a4e656f2e426c6f636b636861696e2e476574436f6e74726163746168154e656f2e52756e74696d652e53657269616c697a650200008724757067726164653a2054686520636f6e747261637420616c726561647920657869737473617c657a0c616a00c36a51c36a52c36a53c36a54c36a55c36a56c36a57c36a58c361587951795a727551727557795279597275527275567953795872755372755579547957727554727568144e656f2e436f6e74726163742e4d6967726174656a5a527ac453c576000775706772616465c4765161682d53797374656d2e457865637574696f6e456e67696e652e476574457865637574696e6753637269707448617368c476526a59c3c46168124e656f2e52756e74696d652e4e6f74696679616a59c36a5b527ac46203006a5bc3616c75660114c56b6c766b00527ac46c766b51527ac46c766b52527ac46c766b53527ac46c766b54527ac46c766b55527ac46c766b56527ac46c766b57527ac4616a00c36168184e656f2e52756e74696d652e436865636b5769746e65737309466f7262696464656e617c65420b616168134e656f2e52756e74696d652e47657454696d656a57c3a11545786365656465642074686520646561646c696e65617c650c0b616a51c36a52c3617c65b8066a58527ac46a58c300c36a59527ac46a58c351c36a5a527ac4006a5b527ac4006a5c527ac46a59c3009c640b006a5ac3009c620400006a5f527ac46a5fc3641800616a53c36a5b527ac46a54c36a5c527ac46162cf00616a53c36a59c36a5ac361527265d9026a60527ac46a60c36a54c3a16a0111527ac46a0111c3643b00616a60c36a56c3a215496e73756666696369656e74204220416d6f756e74617c655e0a616a53c36a5b527ac46a60c36a5c527ac461626d00616a54c36a5ac36a59c36152726578026a0112527ac46a0112c36a53c3a10f457863657373204120416d6f756e74617c65160a616a0112c36a55c3a215496e73756666696369656e74204120416d6f756e74617c65f209616a0112c36a5b527ac46a54c36a5c527ac461616a51c36a52c3617c65260a6a5d527ac46a51c36a00c36a5dc36a5bc361537951795572755172755279527954727552727565b60a616a52c36a00c36a5dc36a5cc361537951795572755172755279527954727552727565910a616a5dc36a00c3617c6564fa6a5e527ac453c576006a5bc3610093c476516a5cc3610093c476526a5ec3c46a0113527ac46203006a0113c3616c75665dc56b6c766b00527ac46c766b51527ac46c766b52527ac46c766b53527ac46c766b54527ac46c766b55527ac46c766b56527ac4616a00c36168184e656f2e52756e74696d652e436865636b5769746e65737309466f7262696464656e617c65e708616168134e656f2e52756e74696d652e47657454696d656a56c3a11545786365656465642074686520646561646c696e65617c65b108616a51c36a52c3617c65f8086a57527ac46a57c36a00c36a57c36a53c3615379517955727551727552795279547275527275658809616a57c36a00c3617c65a5f96a58527ac46a51c36101007e6a52c36101007e9f6a59527ac46a59c3630b006a58c351c36208006a58c300c36a5a527ac46a59c3630b006a58c300c36208006a58c351c36a5b527ac46a5ac36a54c3a215494e53554646494349454e545f415f414d4f554e54617c650508616a5bc36a55c3a215494e53554646494349454e545f425f414d4f554e54617c65e2076152c576006a5ac3c476516a5bc3c46a5c527ac46203006a5cc3616c756656c56b6c766b00527ac46c766b51527ac46c766b52527ac4616a00c300a16313006a51c300a1630b006a52c300a1620400516a54527ac46a54c36439006119616d6f756e74206f72207265736572766520496e76616c696453c576006a00c3c476516a51c3c476526a52c3c4617c650f0761616a00c36a52c3956a51c3966a53527ac46a53c36a55527ac46203006a55c3616c756658c56b6c766b00527ac46c766b51527ac46c766b52527ac4616a00c300a06413006a51c300a0640b006a52c300a0620400002f616d6f756e744f757420616e6420726573657276652073686f756c6420626520706f736974697665206e756d626572617c65c806616a00c302e503956a53527ac46a53c36a52c3956a54527ac46a51c302e803956a53c3936a55527ac46a54c36a55c3966a56527ac46a56c36a57527ac46203006a57c3616c756657c56b6c766b00527ac46c766b51527ac46c766b52527ac4616a00c300a06413006a51c300a0640b006a52c300a0620400002f616d6f756e744f757420616e6420726573657276652073686f756c6420626520706f736974697665206e756d626572617c651a06616a51c36a00c39502e803956a53527ac46a52c36a00c39402e503956a54527ac46a53c36a54c39651936a55527ac46a55c36a56527ac46203006a56c3616c756659c56b6c766b00527ac46c766b51527ac4616a51c3c0529f009c0c494e56414c49445f50415448617c65ad05616a51c3c0c56a52527ac46a52c3006a00c3610093c46a51c3c051946a53527ac4006a54527ac4624f00616a54c351936a55527ac46a51c36a54c3c36a51c36a55c3c3617c651d016a56527ac46a52c36a55c36a52c36a54c3c36a56c300c36a56c351c36152726517fec4616a54c351936a54527ac46a54c36a53c39f6a57527ac46a57c363a5ff6a52c36a58527ac46203006a58c3616c756659c56b6c766b00527ac46c766b51527ac4616a51c3c0529f009c0c494e56414c49445f50415448617c65e704616a51c3c0c56a52527ac46a51c3c051946a53527ac46a52c36a53c36a00c3610093c46a53c36a54527ac4624f00616a54c351946a55527ac46a51c36a55c3c36a51c36a54c3c3617c6553006a56527ac46a52c36a55c36a52c36a54c3c36a56c300c36a56c351c361527265fbfdc4616a54c351946a54527ac46a54c300a06a57527ac46a57c363a7ff6a52c36a58527ac46203006a58c3616c756654c56b6c766b00527ac46c766b51527ac4616a00c36a51c3617c6581040b676574526573657276657300617c527a6700000000000000000000000000000000000000006a52527ac46a00c36101007e6a51c36101007e9f63180052c576006a52c351c3c476516a52c300c3c462150052c576006a52c300c3c476516a52c351c3c46a53527ac46203006a53c3616c756658c56b6c766b00527ac46c766b51527ac46c766b52527ac46c766b53527ac46c766b54527ac4616a00c36168184e656f2e52756e74696d652e436865636b5769746e65737309466f7262696464656e617c656703616168134e656f2e52756e74696d652e47657454696d656a54c3a11545786365656465642074686520646561646c696e65617c653103616a51c36a53c3617c654ffd6a55527ac46a55c36a55c3c05194c36a52c3a21a494e53554646494349454e545f4f55545055545f414d4f554e54617c65f202616a53c300c36a53c351c3617c6535036a56527ac46a53c300c36a00c36a56c36a55c300c361537951795572755172755279527954727552727565c103616a55c36a53c36a00c361527265320161516a57527ac46203006a57c3616c756658c56b6c766b00527ac46c766b51527ac46c766b52527ac46c766b53527ac46c766b54527ac4616a00c36168184e656f2e52756e74696d652e436865636b5769746e65737309466f7262696464656e617c654002616168134e656f2e52756e74696d652e47657454696d656a54c3a11545786365656465642074686520646561646c696e65617c650a02616a51c36a53c3617c65eefc6a55527ac46a55c300c36a52c3a1164558434553534956455f494e5055545f414d4f554e54617c65d401616a53c300c36a53c351c3617c6517026a56527ac46a53c300c36a00c36a56c36a55c300c361537951795572755172755279527954727552727565a302616a55c36a53c36a00c361527265140061516a57527ac46203006a57c3616c75665fc56b6c766b00527ac46c766b51527ac46c766b52527ac4616a51c3c051946a53527ac4006a54527ac462ef00616a51c36a54c3c36a55527ac46a51c36a54c35193c36a56527ac46a00c36a54c35193c36a57527ac4006a58527ac4006a59527ac46a55c36101007e6a56c36101007e9f6a5c527ac46a5cc3641000616a57c36a59527ac461620d00616a57c36a58527ac4616a52c36a5a527ac46a54c36a51c3c052949f6a5d527ac46a5dc3641b00616a56c36a51c36a54c35293c3617c6507016a5a527ac4616a55c36a56c3617c65f6006a5b527ac46a5bc3047377617053c576006a58c3c476516a59c3c476526a5ac3c4617c527a67000000000000000000000000000000000000000075616a54c351936a54527ac46a54c36a53c39f6a5e527ac46a5ec36305ff616c756652c56b6c766b00527ac46c766b51527ac46152c57600064661756c743a6a00c37ec476516a51c3c46168124e656f2e52756e74696d652e4e6f74696679616a00c36175f053c56b6c766b00527ac46c766b51527ac4616a00c3009c6a52527ac46a52c36430006151c57600064661756c743a6a51c37ec46168124e656f2e52756e74696d652e4e6f74696679616a51c36175f0616c756655c56b6c766b00527ac46c766b51527ac4616114536ba57480eaadcf2493dda83e04ecd57af298860f67657445786368616e67655061697252c576006a00c3c476516a51c3c4617c527a6700000000000000000000000000000000000000006a52527ac46a52c3c001149c009c6a53527ac46a53c3643200611843616e6e6f742046696e642050616972436f6e747261637452c576006a00c3c476516a51c3c4617c65c7fe61616a52c36a54527ac46203006a54c3616c756656c56b6c766b00527ac46c766b51527ac46c766b52527ac46c766b53527ac4616a00c3087472616e7366657253c576006a51c3c476516a52c3c476526a53c3c4617c527a6700000000000000000000000000000000000000006a54527ac46a54c3009c6a55527ac46a55c3642100610d5472616e73666572204661696c51c576006a00c3c4617c6529fe6161616c7566
                    parameters:
                      - String
                      - Array
                    returntype: ByteArray
                    name: FlamingoSwapRouter
                    code_version: "1.0"
                    author: flamingo
                    email: developer@flamingo.finance
                    description: FlamingoSwapRouter
                    properties:
                      storage: true
                      dynamic_invoke: true
                    block: 6250879
                    time: "1601724206.000000"
      operationId: "/contract/{contract_hash}"
      description: Get a contract record
  "/contract_stats/{contract_hash}":
    parameters:
      - schema:
          type: string
        name: contract_hash
        in: path
        required: true
        description: Scripthash of contract
    get:
      summary: Get contract stats
      tags: []
      responses:
        "200":
          description: OK
      operationId: "/contract_stats/{contract_hash}"
      description: Get statistics of contract invocations
  "/contract_transfers/{contract_hash}/{page}":
    parameters:
      - schema:
          type: string
        name: contract_hash
        in: path
        required: true
        description: Scripthash of contract
      - schema:
          type: string
        name: page
        in: path
        required: true
        description: Page number to return
    get:
      summary: Get contract stats
      tags: []
      responses:
        "200":
          description: Transfers of contract
          content:
            application/json:
              schema:
                description: ""
                type: object
                properties:
                  result:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - blockindex
                        - timestamp
                        - txid
                        - transfer_from_address
                        - transfer_to_address
                        - asset_symbol
                        - asset_decimals
                        - amount
                      properties:
                        blockindex:
                          type: number
                        timestamp:
                          type: string
                          minLength: 1
                        txid:
                          type: string
                          minLength: 1
                        transfer_from_address:
                          type: string
                          minLength: 1
                        transfer_to_address:
                          type: string
                          minLength: 1
                        asset_symbol:
                          type: string
                          minLength: 1
                        asset_decimals:
                          type: number
                        amount:
                          type: number
                required:
                  - result
              examples:
                Transfers of contract:
                  value:
                    result:
                      - blockindex: 7053782
                        timestamp: "1615773463.000000"
                        txid: "0xab5fdce4c701b5cac6b127517ef1b811a4645cdbdaee5df1904ffbfee230863d"
                        transfer_from_address: AdP6tDrKkTtKGrb6mgZEnHMNWS6CNh4jm2
                        transfer_to_address: ALuZLuuDssJqG2E4foANKwbLamYHuffFjg
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 90000000000
                      - blockindex: 7053778
                        timestamp: "1615773319.000000"
                        txid: "0x1ea7adb9e8b46f61655574ca1d8176e6831b6ea15e80c111191f30bd8f3ec12c"
                        transfer_from_address: APfzVzkVKHx86Nf9M8AFrqvAz3ewn5jFpT
                        transfer_to_address: AFp8wKMhFCSo33Tyv9wuGYEoex6Hr4RNqg
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 16956090000
                      - blockindex: 7053778
                        timestamp: "1615773319.000000"
                        txid: "0xc5223b859e7909ceb0befc6b5ca050446875e3a75c9a65446125c40f3d107b0c"
                        transfer_from_address: AGVjNxAYdke9MN6Ye2A7YVq2mJMa4XzY5t
                        transfer_to_address: AdP6tDrKkTtKGrb6mgZEnHMNWS6CNh4jm2
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 89014143649
                      - blockindex: 7053771
                        timestamp: "1615773170.000000"
                        txid: "0x37f55fb915c97284d4c421b9f64e055378cd4d519d5608583a26a0ac19441fe2"
                        transfer_from_address: AGVjNxAYdke9MN6Ye2A7YVq2mJMa4XzY5t
                        transfer_to_address: AdP6tDrKkTtKGrb6mgZEnHMNWS6CNh4jm2
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 1000000000
                      - blockindex: 7053722
                        timestamp: "1615772028.000000"
                        txid: "0xcadbf17e68ae476a6c4eb7435151feeca4b572ddc586d17f45596a9a51d5208d"
                        transfer_from_address: ALuZLuuDssJqG2E4foANKwbLamYHuffFjg
                        transfer_to_address: AK79aJx3KcKuTho9LXoto6gmT4HhqFRMQX
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 4100000000
                      - blockindex: 7053693
                        timestamp: "1615771449.000000"
                        txid: "0xa2d18797808480c0453972e39401336a0512ff58f37689935248106b2644b992"
                        transfer_from_address: ALuZLuuDssJqG2E4foANKwbLamYHuffFjg
                        transfer_to_address: AMJ3twHxbeDXjhxdwKG91XCgDSktZkDPMi
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 5000000000
                      - blockindex: 7053670
                        timestamp: "1615771058.000000"
                        txid: "0x526b28b5d0fd281caa97b710105fc4260d55f337a957e0dbf3f0dc3ee946f019"
                        transfer_from_address: AbArunq3PGYmQv4xhduTKva7r2ppUqeaDi
                        transfer_to_address: ASyX5VhAKC1dMKV3jco1xwPbwKnFsFiekR
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 50000200000
                      - blockindex: 7053553
                        timestamp: "1615769071.000000"
                        txid: "0x459a229ed03ae15b59abba39132f9c0dde7d6542d2ea025fc6220b3a1f7aba6a"
                        transfer_from_address: AWtBB78xXTVcAW5tsY8C53Dv7DSxT1k6Xb
                        transfer_to_address: ALuZLuuDssJqG2E4foANKwbLamYHuffFjg
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 200000000000
                      - blockindex: 7053550
                        timestamp: "1615769020.000000"
                        txid: "0xa1352baea8571ca0bbd21992996bdc080132280286046fe01c2e6418dc1a31bc"
                        transfer_from_address: ALuZLuuDssJqG2E4foANKwbLamYHuffFjg
                        transfer_to_address: AWtBB78xXTVcAW5tsY8C53Dv7DSxT1k6Xb
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 136000000000
                      - blockindex: 7053550
                        timestamp: "1615769020.000000"
                        txid: "0xd6e3fe35ca5773d5a779eccdfcc8ef82be395d0432106a3d5a32da7ed172b500"
                        transfer_from_address: ALuZLuuDssJqG2E4foANKwbLamYHuffFjg
                        transfer_to_address: AWtBB78xXTVcAW5tsY8C53Dv7DSxT1k6Xb
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 56000000000
                      - blockindex: 7053454
                        timestamp: "1615767400.000000"
                        txid: "0x9b951f1db428c0c8c937a846faacc537cae0e968cff2e49df026227577020838"
                        transfer_from_address: APLSBazfPyLtsfHwXw9s59QtsNwQgbC1t4
                        transfer_to_address: AHoxLuPZNVkqKsp4cBjrsVzjET15Z7JeSz
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 2789116526
                      - blockindex: 7053451
                        timestamp: "1615767348.000000"
                        txid: "0x5d71978a8b8ae96e883d7e70cc1f5f8ad1fa5e61e550d6b37426eed3f7013d2f"
                        transfer_from_address: AbArunq3PGYmQv4xhduTKva7r2ppUqeaDi
                        transfer_to_address: APLSBazfPyLtsfHwXw9s59QtsNwQgbC1t4
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 2789116526
                      - blockindex: 7053449
                        timestamp: "1615767314.000000"
                        txid: "0xbf0eab247ee4abdb271104dbf403fa96de73ada17171bd2cca6062b0515c5763"
                        transfer_from_address: APLSBazfPyLtsfHwXw9s59QtsNwQgbC1t4
                        transfer_to_address: AbArunq3PGYmQv4xhduTKva7r2ppUqeaDi
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 2700000000
                      - blockindex: 7053446
                        timestamp: "1615767264.000000"
                        txid: "0xa261cbbff4058c5432b978e740c83fc01c19ade77416d7c79bc4e31fe464e203"
                        transfer_from_address: AbArunq3PGYmQv4xhduTKva7r2ppUqeaDi
                        transfer_to_address: APLSBazfPyLtsfHwXw9s59QtsNwQgbC1t4
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 2700000000
                      - blockindex: 7053421
                        timestamp: "1615766847.000000"
                        txid: "0xbea721213fe187c6b776e5b0c031e564432f2fc2a3e43126089c38c4a0af6741"
                        transfer_from_address: ALuZLuuDssJqG2E4foANKwbLamYHuffFjg
                        transfer_to_address: ANYnfKz7mKAEV7yudx7CikdTHgH6kTg9Yb
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 118800000000
                      - blockindex: 7053391
                        timestamp: "1615766309.000000"
                        txid: "0xb9bffb376c2ef7ac977d2be6257326063f12e27847ba26bf57b1c8be487805a4"
                        transfer_from_address: ALdxi65hL2YZ3xKJe3QeeKEsbvEAGCDj8T
                        transfer_to_address: AHoxLuPZNVkqKsp4cBjrsVzjET15Z7JeSz
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 117653112209
                      - blockindex: 7053387
                        timestamp: "1615766242.000000"
                        txid: "0x0ff64f0f59054e3dd9a87a039953138e520065ed11efb5980994fe8f72b5334b"
                        transfer_from_address: AJBmabCd7M8RPNrK3dtiePh1XGzeLaWVPd
                        transfer_to_address: ALdxi65hL2YZ3xKJe3QeeKEsbvEAGCDj8T
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 117653112209
                      - blockindex: 7053303
                        timestamp: "1615764807.000000"
                        txid: "0xe89f94465bb6d859ef60c5a94d5cb1467e07e81223d1316741987f0a8b630ed9"
                        transfer_from_address: AbArunq3PGYmQv4xhduTKva7r2ppUqeaDi
                        transfer_to_address: AJR2ZbPduUhosVgz4EH3EzfggRy6UgCHdR
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 50053000000
                      - blockindex: 7053270
                        timestamp: "1615764216.000000"
                        txid: "0x303f695b8eb30d9eb60702c30aa6dac5e28b891e810aa15f2afdd654784cf461"
                        transfer_from_address: AHGEDoVD7fPx9Fac9as6ZFLovZfFfDe3FN
                        transfer_to_address: ALuZLuuDssJqG2E4foANKwbLamYHuffFjg
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 34400000000
                      - blockindex: 7053237
                        timestamp: "1615763660.000000"
                        txid: "0xa9bb06e9e4c75a607ee4b2c61b1e5d2dc9b8502fb029e53b955911de5b58077e"
                        transfer_from_address: AJVAxjdp57vwZ5hQVejaqt1Rp5jw7kiFCx
                        transfer_to_address: ALuZLuuDssJqG2E4foANKwbLamYHuffFjg
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 200000000000
                      - blockindex: 7053236
                        timestamp: "1615763644.000000"
                        txid: "0xd768aee771eaf3d6682747e82cb74497840237ad969766275e7b628546eca254"
                        transfer_from_address: APLSBazfPyLtsfHwXw9s59QtsNwQgbC1t4
                        transfer_to_address: AHoxLuPZNVkqKsp4cBjrsVzjET15Z7JeSz
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 608000000
                      - blockindex: 7053234
                        timestamp: "1615763610.000000"
                        txid: "0xf4b2a34e75a38cb787532e29bca3c563e49e92a815a5c754e300d0d49b6e57bc"
                        transfer_from_address: AbArunq3PGYmQv4xhduTKva7r2ppUqeaDi
                        transfer_to_address: APLSBazfPyLtsfHwXw9s59QtsNwQgbC1t4
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 608000000
                      - blockindex: 7053226
                        timestamp: "1615763474.000000"
                        txid: "0xa6601c6014f6f75e12d691514a11e92946b4be45c08fb7251a29435ec3210f93"
                        transfer_from_address: AKhybi9vm8k66BoBrv3JMGo6umdBorBJyd
                        transfer_to_address: AHGEDoVD7fPx9Fac9as6ZFLovZfFfDe3FN
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 34382000000
                      - blockindex: 7053220
                        timestamp: "1615763371.000000"
                        txid: "0x8f0a88dc449379c55ca8ffb81f5ed1ab3045622e04d7a39831194665d18b29ff"
                        transfer_from_address: AKhybi9vm8k66BoBrv3JMGo6umdBorBJyd
                        transfer_to_address: AHGEDoVD7fPx9Fac9as6ZFLovZfFfDe3FN
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 100000000
                      - blockindex: 7053219
                        timestamp: "1615763355.000000"
                        txid: "0x66e21b506a4dcd7c594efda0b6c7cbb1c4f6d07181a945d1f789226b9c522838"
                        transfer_from_address: APLSBazfPyLtsfHwXw9s59QtsNwQgbC1t4
                        transfer_to_address: AbArunq3PGYmQv4xhduTKva7r2ppUqeaDi
                        asset_symbol: NEX
                        asset_decimals: 8
                        amount: 116900000000
      operationId: "/contract_transfers/{contract_hash}/{page}"
  "/contracts/{page}":
    parameters:
      - schema:
          type: string
        name: page
        in: path
        required: true
        description: Page number to return
    get:
      summary: Get contracts
      tags: []
      responses:
        "200":
          description: List of contracts
          content:
            application/json:
              schema:
                description: ""
                type: object
                properties:
                  items:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - hash
                        - name
                        - author
                        - block
                        - time
                        - asset_name
                        - symbol
                        - type
                      properties:
                        hash:
                          type: string
                          minLength: 1
                        name:
                          type: string
                          minLength: 1
                        author:
                          type: string
                          minLength: 1
                        block:
                          type: number
                        time:
                          type: string
                          minLength: 1
                        asset_name:
                          type: string
                        symbol:
                          type: string
                        type:
                          type: string
                  totalCount:
                    type: number
                required:
                  - items
                  - totalCount
              examples:
                Contracts:
                  value:
                    items:
                      - hash: "0x1c8749a602afff8ebe9c6f2b478ee2b0d92bd6ce"
                        name: Flamingo Oracle
                        author: Flamingo
                        block: 6739892
                        time: "1610099713.000000"
                        asset_name: ""
                        symbol: ""
                        type: ""
                      - hash: "0xcf0bec047573d2b5f4b99a5f6655226e0fb5f7f9"
                        name: PMU
                        author: Flamingo
                        block: 6738951
                        time: "1610083792.000000"
                        asset_name: Perp Mock USDT
                        symbol: PMU
                        type: NEP5
                      - hash: "0xd2028b9c5639ef287cff7b08e1a4ec0b858e68a2"
                        name: QlcSwap
                        author: QlcAdmin
                        block: 6724526
                        time: "1609751913.000000"
                        asset_name: ""
                        symbol: ""
                        type: ""
                      - hash: "0x8edf74d3391b92f1f7c7e58d30664d5c3b18bf1f"
                        name: ZFB
                        author: BEEMINER
                        block: 6648319
                        time: "1608373575.000000"
                        asset_name: ZFB
                        symbol: ZFB
                        type: NEP5
                      - hash: "0x04c024709f0a379c047a0e518b0668c55016a40e"
                        name: FLP-BRDG-nNEO
                        author: Flamingo Team
                        block: 6604970
                        time: "1607654748.000000"
                        asset_name: Exchange Pair
                        symbol: FLP-BRDG-nNEO
                        type: NEP5
                      - hash: "0xb65b42fd244ba14c6adbb8775c5e44e97b2b751a"
                        name: NEX Swap
                        author: Nash Exchange
                        block: 6566160
                        time: "1607011014.000000"
                        asset_name: ""
                        symbol: ""
                        type: ""
                      - hash: "0x29215a35daab70879f5cb02a8944a980bad9f005"
                        name: Flamingo Vote
                        author: Flamingo Team
                        block: 6554515
                        time: "1606815346.000000"
                        asset_name: ""
                        symbol: ""
                        type: ""
                      - hash: "0xb259ee05485cd9f729ac5a2d5cd462221e40be96"
                        name: Peet DeFi
                        author: Peet Team
                        block: 6519695
                        time: "1606239890.000000"
                        asset_name: Peet
                        symbol: PTE
                        type: NEP5
                      - hash: "0x2b7f90c9c1780ed0ca41bb0c0e7680bbde247339"
                        name: Neo Fast-Pass
                        author: Neo
                        block: 6492414
                        time: "1605786806.000000"
                        asset_name: Neo Fast-Pass
                        symbol: NFP
                        type: NEP5
                      - hash: "0xfbe4a93d40084c3946deb020d42acb8716d70ba5"
                        name: FLP-SWTH-nNEO
                        author: Flamingo
                        block: 6439465
                        time: "1604912854.000000"
                        asset_name: Exchange Pair
                        symbol: FLP-SWTH-nNEO
                        type: NEP5
                      - hash: "0x3e09e602eeeb401a2fec8e8ea137d59aae54a139"
                        name: Switcheo Token
                        author: Switcheo
                        block: 6343409
                        time: "1603350989.000000"
                        asset_name: Switcheo
                        symbol: SWTH
                        type: NEP5
                      - hash: "0x164d669f0543441fba277b87cdc80c76cd66891f"
                        name: Switcheo TradeHub Lock Proxy
                        author: Switcheo
                        block: 6333375
                        time: "1603187535.000000"
                        asset_name: ""
                        symbol: ""
                        type: ""
                      - hash: "0xa83a460afa82bddcb05a8e3784a0881aaa0ce012"
                        name: nNEO
                        author: NEO
                        block: 6270294
                        time: "1602084242.000000"
                        asset_name: nNeo
                        symbol: nNEO
                        type: NEP5
                      - hash: "0x79ddf488cd0dc14f03883acdd9cb0d6a72803918"
                        name: FLP-pnWBTC-pnUSDT
                        author: Flamingo
                        block: 6259100
                        time: "1601869585.000000"
                        asset_name: Exchange Pair
                        symbol: FLP-pnWBTC-pnUSDT
                        type: NEP5
                      - hash: "0x393ee57a2f55923bb2904dd75288c573f9c35a44"
                        name: FLP-nNEO-pnUSDT
                        author: Flamingo
                        block: 6259082
                        time: "1601869269.000000"
                        asset_name: Exchange Pair
                        symbol: FLP-nNEO-pnUSDT
                        type: NEP5
                    totalCount: 268
      operationId: "/contracts/{page}"
      description: Get paginated list of contracts
  /get_all_nodes:
    get:
      summary: Get all nodes
      tags: []
      responses:
        "200":
          description: List of nodes
          content:
            application/json:
              schema:
                type: array
                description: ""
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - url
                    - height
                  properties:
                    url:
                      type: string
                      minLength: 1
                    height:
                      type: number
              examples:
                Nodes:
                  value:
                    - url: "https://neonode1.nash.io:443"
                      height: 7053923
                    - url: "https://neonode2.nash.io:443"
                      height: 7053923
                    - url: "https://neonode3.nash.io:443"
                      height: 7053923
                    - url: "https://m1.neo.nash.io:443"
                      height: 7053923
                    - url: "https://m2.neo.nash.io:443"
                      height: 7053923
                    - url: "https://m3.neo.nash.io:443"
                      height: 7053923
                    - url: "https://mainnet1.neo2.coz.io:443"
                      height: 7053923
                    - url: "https://mainnet2.neo2.coz.io:443"
                      height: 7053923
                    - url: "https://mainnet3.neo2.coz.io:443"
                      height: 7053922
                    - url: "https://node1.nl.neoblocks.org:443"
                      height: 7053924
                    - url: "https://node2.nl.neoblocks.org:443"
                      height: 7053923
                    - url: "https://seed1.switcheo.network:10331"
                      height: 6473820
                    - url: "https://seed2.switcheo.network:10331"
                      height: 7053923
                    - url: "https://seed3.switcheo.network:10331"
                      height: 7053923
                    - url: "http://seed1.ngd.network:10332"
                      height: 7053923
                    - url: "http://seed2.ngd.network:10332"
                      height: 7053923
                    - url: "http://seed5.ngd.network:10332"
                      height: 7053923
                    - url: "http://seed8.ngd.network:10332"
                      height: 7053923
                    - url: "http://seed9.ngd.network:10332"
                      height: 7053923
                    - url: "http://seed.neoeconomy.io:10332"
                      height: 7053923
                    - url: "http://node1.edgeofneo.com:10332"
                      height: 7016446
      operationId: /get_all_nodes
      description: Get list of public RPC nodes
  "/get_address_abstracts/{address}/{page}":
    parameters:
      - schema:
          type: string
        name: address
        in: path
        required: true
        description: Neo address
      - schema:
          type: string
        name: page
        in: path
        required: true
        description: Page number to return
    get:
      summary: Get address abstracts (Neoscan)
      tags: []
      responses:
        "200":
          description: Abstracts of address
          content:
            application/json:
              schema:
                description: ""
                type: object
                properties:
                  total_pages:
                    type: number
                  total_entries:
                    type: number
                  page_size:
                    type: number
                  page_number:
                    type: number
                  entries:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - txid
                        - time
                        - block_height
                        - asset
                        - address_to
                        - address_from
                        - amount
                      properties:
                        txid:
                          type: string
                          minLength: 1
                        time:
                          type: number
                        block_height:
                          type: number
                        asset:
                          type: string
                          minLength: 1
                        address_to:
                          type: string
                          minLength: 1
                        address_from:
                          type: string
                          minLength: 1
                        amount:
                          type: number
                required:
                  - total_pages
                  - total_entries
                  - page_size
                  - page_number
                  - entries
              examples:
                Abstract:
                  value:
                    total_pages: 1
                    total_entries: 1
                    page_size: 15
                    page_number: 1
                    entries:
                      - txid: 7db1c04d49fea0afeb5fb6b8f28477cf7824866f6e57320b22b3642c64198897
                        time: 1615716234
                        block_height: 7050574
                        asset: c56f33fc6ecfcd0c225c4ab356fee59390af8560be0e930faebe74a6daff7c9b
                        address_to: AMxQ79iRKPFPu6tCKSvVEcqj8WZNHQZo9x
                        address_from: AGm9qWBAGotmAoRTvhW9bHftenuXCj2gt1
                        amount: 24
      operationId: "/get_address_abstracts/{address}/{page}"
      description: Get abstracts of address transfers
      deprecated: true
  "/get_balance/{address}":
    parameters:
      - schema:
          type: string
        name: address
        in: path
        required: true
        description: Neo address
    get:
      summary: Get balance (Neoscan)
      tags: []
      responses:
        "200":
          description: Balances of address
          content:
            application/json:
              schema:
                description: ""
                type: object
                properties:
                  balance:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - asset_hash
                        - asset
                        - asset_symbol
                        - amount
                      properties:
                        unspent:
                          type: array
                          uniqueItems: true
                          minItems: 1
                          items:
                            required:
                              - txid
                              - "n"
                              - value
                            properties:
                              txid:
                                type: string
                                minLength: 1
                              "n":
                                type: number
                              value:
                                type: number
                        asset_hash:
                          type: string
                          minLength: 1
                        asset:
                          type: string
                          minLength: 1
                        asset_symbol:
                          type: string
                          minLength: 1
                        amount:
                          type: number
                  address:
                    type: string
                    minLength: 1
                required:
                  - balance
                  - address
              examples:
                Balances:
                  value:
                    balance:
                      - unspent:
                          - txid: d096bc8661ec16e49b78a297292c039b0d10bd85a79bf66387aa9c8a3a0bd70b
                            "n": 0
                            value: 0.15899965
                          - txid: 570ead130c5d47fc9affe01de769de571d805f7a5e5c78bc0d5a68a347e02c6c
                            "n": 1
                            value: 0.504
                          - txid: 59ded3ba5b9eea799722f7846afbb0ebfaa79cbd7c3cb0314557259cfd3660e9
                            "n": 0
                            value: 0.02942058
                          - txid: 6216d422a4db4cbfa0fb07a7ead85ce5e969e46c666b1febe9420b15f9dec8f0
                            "n": 0
                            value: 8.7420357
                        asset_hash: 602c79718b16e442de58778e148d0b1084e3b2dffd5de6b7b16cee7969282de7
                        asset: GAS
                        asset_symbol: GAS
                        amount: 9.43445593
                      - unspent:
                          - txid: 7cae7e0da590f22ccd43b7b1ad47460676774a1ef91c0f8e7d9fbe8a6bac4e0a
                            "n": 0
                            value: 2
                          - txid: 227da6411860535e7cf8f672de53f94b19586470331643172315870227a6bf13
                            "n": 1
                            value: 1
                          - txid: f4ea514a0867f3cf9e5fa80f78096d6b1826dc94977554f5d542a8c49772c023
                            "n": 1
                            value: 30
                          - txid: 41b9cce2714b6ac66076d004f198febd5f0fded6ac607289a8639f307e79bf34
                            "n": 1
                            value: 2
                          - txid: b347df99de8d7633c21e6f22c8d18990c94a616b01566ab7a5fe64ee530f7990
                            "n": 0
                            value: 9
                          - txid: b9602bf6c462c3926e40c45df067384beb1432f71c7d236b6f233577e629a197
                            "n": 1
                            value: 1
                          - txid: 448faa3787138937aa05a066c33f1b09ab64344b5d21507df7d3fd845a5694ae
                            "n": 1
                            value: 1
                        asset_hash: c56f33fc6ecfcd0c225c4ab356fee59390af8560be0e930faebe74a6daff7c9b
                        asset: NEO
                        asset_symbol: NEO
                        amount: 46
                      - asset_hash: 534dcac35b0dfadc7b2d716a7a73a7067c148b37
                        asset: pnWBTC NEP5
                        symbol: pnWBTC
                        unspent: []
                        amount: 0
                      - asset_hash: 282e3340d5a1cd6a461d5f558d91bc1dbc02a07b
                        asset: pnUSDT NEP5
                        symbol: pnUSDT
                        unspent: []
                        amount: 0
                      - asset_hash: 0df563008be710f3e0130208f8adc95ed7e5518d
                        asset: pnWETH NEP5
                        symbol: pnWETH
                        unspent: []
                        amount: 0
                      - asset_hash: f46719e2d16bf50cddcef9d4bbfece901f73cbb6
                        asset: NEO NEP5
                        symbol: nNEO
                        unspent: []
                        amount: 22.57257138
                      - asset_hash: 4d9eab13620fe3569ba3b0e56e2877739e4145e3
                        asset: Flamingo
                        symbol: FLM
                        unspent: []
                        amount: 0
                      - asset_hash: 393ee57a2f55923bb2904dd75288c573f9c35a44
                        asset: Exchange Pair
                        symbol: FLP-nNEO-pnUSDT
                        unspent: []
                        amount: 0
                      - asset_hash: e1467246509828fafeab6496fe3e5342e8eb0229
                        asset: Exchange Pair
                        symbol: FLP-pnWBTC-nNEO
                        unspent: []
                        amount: 0
                      - asset_hash: 033dcf06342a779c50bccbd4c7e5d09d016b11b4
                        asset: Exchange Pair
                        symbol: FLP-FLM-nNEO
                        unspent: []
                        amount: 0
                      - asset_hash: 3e09e602eeeb401a2fec8e8ea137d59aae54a139
                        asset: Switcheo
                        symbol: SWTH
                        unspent: []
                        amount: 0
                      - asset_hash: fbe4a93d40084c3946deb020d42acb8716d70ba5
                        asset: Exchange Pair
                        symbol: FLP-SWTH-nNEO
                        unspent: []
                        amount: 0
                      - asset_hash: 79ddf488cd0dc14f03883acdd9cb0d6a72803918
                        asset: Exchange Pair
                        symbol: FLP-pnWBTC-pnUSDT
                        unspent: []
                        amount: 0
                      - asset_hash: ec6aadeae97964af2e4e08532fdd8e7ffb39f19a
                        asset: Exchange Pair
                        symbol: FLP-pnWETH-nNEO
                        unspent: []
                        amount: 0
                      - asset_hash: cf0bec047573d2b5f4b99a5f6655226e0fb5f7f9
                        asset: Perp Mock USDT
                        symbol: PMU
                        unspent: []
                        amount: 0
                      - asset_hash: 883ec9d1950b21f340cc195562c27b2ac0c94dd3
                        asset: Flamingo Perp
                        symbol: "???"
                        unspent: []
                        amount: 0
                      - asset_hash: 207121f4252cadfd7bad9468de280381fdbb252f
                        asset: Perp
                        symbol: "???"
                        unspent: []
                        amount: 0
                      - asset_hash: c33043fa3961bd3cc81d36c31e3b08fcedd8930d
                        asset: Exchange Pair
                        symbol: FLP-fWETH-nNEO
                        unspent: []
                        amount: 0
                      - asset_hash: 179a0db04a130dec6060cd9569d7ee7d7e8eccdc
                        asset: fWETH NEP5
                        symbol: fWETH
                        unspent: []
                        amount: 0
                      - asset_hash: 7433a3a927c54b1f27eb7c89ac94e608a8a6ad8c
                        asset: Exchange Pair
                        symbol: FLP-nNEO-fUSDT
                        unspent: []
                        amount: 0
                      - asset_hash: 1aa893170b1babfefba973e9a9183990d792c2a7
                        asset: fUSDT NEP5
                        symbol: fUSDT
                        unspent: []
                        amount: 0
                      - asset_hash: 1a364b168a520080d0149391179ef1fa9ba440fc
                        asset: Exchange Pair
                        symbol: FLP-fWBTC-nNEO
                        unspent: []
                        amount: 0
                      - asset_hash: 36a8f669d55bbfe99a3e9f7953745736bfa5453c
                        asset: fWBTC NEP5
                        symbol: fWBTC
                        unspent: []
                        amount: 0
                    address: ALBkBSozrBhSjL48X2GCJSbnr3HvkbFo3Y
      operationId: "/get_balance/{address}"
      description: Get balance of address
      deprecated: true
  "/get_claimable/{address}":
    parameters:
      - schema:
          type: string
        name: address
        in: path
        required: true
        description: Neo address
    get:
      summary: Get claimable GAS
      tags: []
      responses:
        "200":
          description: Claimable UTXOs
          content:
            application/json:
              schema:
                description: ""
                type: object
                properties:
                  claimable:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - txid
                        - "n"
                        - value
                        - start_height
                        - end_height
                        - generated
                        - sys_fee
                        - unclaimed
                      properties:
                        txid:
                          type: string
                          minLength: 1
                        "n":
                          type: number
                        value:
                          type: number
                        start_height:
                          type: number
                        end_height:
                          type: number
                        generated:
                          type: number
                        sys_fee:
                          type: number
                        unclaimed:
                          type: number
                  address:
                    type: string
                    minLength: 1
                  unclaimed:
                    type: number
                required:
                  - claimable
                  - address
                  - unclaimed
              examples:
                Claimable:
                  value:
                    claimable:
                      - txid: 2625b26a572feb1586d5f2836cf3e723abfb1007bc1ff81f2e18aa2f0d450601
                        "n": 0
                        value: 1
                        start_height: 6385222
                        end_height: 6392216
                        generated: 0.0003497
                        sys_fee: 0
                        unclaimed: 0.0003497
                      - txid: 40367719a28f5a9d0152c454500284c40310674490ace0d2248d32c7a8b32c09
                        "n": 0
                        value: 2
                        start_height: 5429404
                        end_height: 5526891
                        generated: 0.01169844
                        sys_fee: 0.0000294
                        unclaimed: 0.01172784
                      - txid: 767879686e8ca3217b276b7beecbe108a8dee307129fb2f47f707f61bec0620e
                        "n": 0
                        value: 2
                        start_height: 5698235
                        end_height: 5700125
                        generated: 0.0002268
                        sys_fee: 0
                        unclaimed: 0.0002268
                      - txid: 68279f30e7fb4d6ddec3b4156118eb848210dd83a72d2ad6d4003023ce5eca16
                        "n": 0
                        value: 14
                        start_height: 5464416
                        end_height: 5526861
                        generated: 0.0524538
                        sys_fee: 0.0002058
                        unclaimed: 0.0526596
                      - txid: 3e6150577a7b95073cda56391afad91fc1884e20c01b81744e845bca66b33e23
                        "n": 0
                        value: 1
                        start_height: 6342829
                        end_height: 6392216
                        generated: 0.00246935
                        sys_fee: 0.000005
                        unclaimed: 0.00247435
                      - txid: 27aa82db1b485075fd0405d166818a8769efb98e05363fc9f5cd0eb1f181ec39
                        "n": 0
                        value: 2
                        start_height: 5624719
                        end_height: 5629054
                        generated: 0.0005202
                        sys_fee: 0
                        unclaimed: 0.0005202
                      - txid: a94f8803bfa55dd5c0bf16beb32b1424708b44982fe19871862c39212ab9fa4a
                        "n": 0
                        value: 1
                        start_height: 6791599
                        end_height: 6791640
                        generated: 0.00000205
                        sys_fee: 0
                        unclaimed: 0.00000205
                      - txid: 31f7c366f0742761472715f03746678cdeb4d2c33df207bb44e88caecf3a224b
                        "n": 0
                        value: 1
                        start_height: 6276804
                        end_height: 6392216
                        generated: 0.0057706
                        sys_fee: 0.000015
                        unclaimed: 0.0057856
                      - txid: 740a9bb909fc4fb269c68ff9628c22187b652e841d5c62ef07a4e6c92dcd5a4b
                        "n": 0
                        value: 2
                        start_height: 5464383
                        end_height: 5526890
                        generated: 0.00750084
                        sys_fee: 0.0000294
                        unclaimed: 0.00753024
                      - txid: eda6bd775a693868e6513daaae2ca606e342acacbe802db1a9a5a3915ca8b557
                        "n": 0
                        value: 1
                        start_height: 6641548
                        end_height: 6643143
                        generated: 0.00007975
                        sys_fee: 0
                        unclaimed: 0.00007975
                      - txid: ae8eae328c0ca21ae3088eaa1f418629eaeb92f5d97184abaa002283475c4379
                        "n": 0
                        value: 2
                        start_height: 5480356
                        end_height: 5526861
                        generated: 0.0055806
                        sys_fee: 0.0000098
                        unclaimed: 0.0055904
                      - txid: 931e7fa3cf5fe8cd925d49b8eea828eef284f63e8bcb94d04867b2812561307f
                        "n": 0
                        value: 1
                        start_height: 6178549
                        end_height: 6183745
                        generated: 0.0002598
                        sys_fee: 0
                        unclaimed: 0.0002598
                      - txid: 060cf5ff18e466e36f4081e1d9a27f30cecf7ebf80e84fe4172e832e1946b691
                        "n": 0
                        value: 1
                        start_height: 6511630
                        end_height: 6511663
                        generated: 0.00000165
                        sys_fee: 0
                        unclaimed: 0.00000165
                      - txid: 095e4b0477c22c3fda5dfa05c5c265b9f9b8eb110c12d123356507feb86b8297
                        "n": 0
                        value: 1
                        start_height: 6720656
                        end_height: 6720746
                        generated: 0.0000045
                        sys_fee: 0
                        unclaimed: 0.0000045
                      - txid: ac27b7149943c4dea376507b6e56e6bad69b4064289006d579eb38d922cfb59b
                        "n": 0
[...]
