#Home {
  .list-row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // padding: 24px;
    padding: 24px 0;

    .list-wrapper {
      margin: 12px;
      flex: 1;
      max-width: 590px;

      .label-wrapper {
        margin-bottom: 36px;
        justify-content: space-between;
        display: flex;
        align-items: center;

        label {
          font-size: 16px;
          color: #7d9fb1;
          letter-spacing: -0.64px;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }

  #neoscan-logo {
    width: 104px;
  }

  #welcome-text {
    display: flex;
    align-items: center;
  }

  #welcome-text-underscore {
    font-size: 42px;
    font-weight: 600;
    color: var(--pink);
  }

  #neoscan-logo-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 42px;
      font-weight: 500;
      color: #ffffff;
      letter-spacing: -1.59px;
      line-height: 38.02px;
      text-transform: uppercase;
      margin: 6px 0 6px 0;
    }

    span {
      font-weight: 500;
      font-size: 18px;
      color: #597b8d;
      letter-spacing: 1.09px;
    }
  }
}
