.inner-select-container {
  min-width: 125px;
  max-width: 125px;
  margin-right: 12px;
  background-color: #2f454e;
  max-height: 30px;
  height: 30px;
  border-radius: 80px;
}

.select-container {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding-right: 12px;
  max-height: 30px;
  height: 30px;

  font-family: 500;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0.82px;
}

.react-select__menu {
  padding: 3px 6px;
  z-index: 1000 !important;

  .react-select__option {
    border-bottom: solid 1px #979797;
  }

  .react-select__option:last-child {
    border-bottom: none;
  }
}

.inner-select-container .react-select__control,
.inner-select-container .react-select__menu,
.inner-select-container .react-select__menu,
.select-computed-value {
  background-color: '#2F454E';
}

.react-select__indicator {
  padding: 4px 8px !important;

  svg {
    min-width: 16px;
    margin-left: -3px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: var(--text-color-secondary);
  -webkit-box-shadow: 0 0 0px 1000px '#000033' inset;
  box-shadow: 0 0 0px 1000px '#000033' inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media only screen and (max-width: 710px) {
  .select-container {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0;
    background-color: transparent;
    height: auto;
    max-height: 100px;

    .inner-select-container {
      margin-right: 0;
      margin-bottom: 6px;
      border-right: none;
      background-color: var(--secondary-color);
      border-radius: 3px;
    }

    .select-computed-value {
      word-wrap: anywhere;
      background-color: var(--secondary-color);
      margin: 6px 0;
      border-radius: 3px;
    }
  }
}
