#Breadcrumbs {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  margin-bottom: 24px;
=======
>>>>>>> 867fe4d0b867a8dec63ea067e2193df2e6a037b2

  .crumb-container {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: #d355e7;
  }

  .active-breadcrumb {
    color: #7d9fb1;
    cursor: default;
  }
}
