#navigation-container {
  height: 88px;
  background-color: #0d282e;
  align-items: center;
  display: flex;
  margin-left: 80px;
  padding: 0px 68px;

  #coz-blockchain-logo {
    margin-right: 60px;
    margin-top: -6px;
  }
}
