#NewsFeed {
  a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: #96b4c4;
  }
  .news-item-container {
    img {
      max-width: 50%;
      max-height: 50px;
      margin-right: 12px;
    }
  }
}
