#Block {
  padding-bottom: 48px;

  #block-time-details-row {
    display: flex;
    justify-content: center;

    div {
      margin: 0 12px;
    }

    svg {
      margin: 4px 8px 4px 4px;
    }
  }
}
